@font-face {
    font-family: "Poppins-Regular";
    src: url(Poppins-Regular.ttf);
}

html,body{
    height:100%;
    background-color: black;
    overflow: hidden;
    margin: 0;
  }
    
  audio{ 
    position: absolute;
    opacity: 0;
  }
    
  #name{
    color: azure;
    position: absolute;
    left: 48vw;
    top: 49vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 20px;
  }

  h2{
    font-size: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    animation-name: heartbeat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  
  input{
    display: flex;
    position: relative;
    padding: 0;
    margin: auto;
    width: min-content;
    font-size: larger;
    padding: 1%;
    background-color:azure;
    border-radius: 6%;
    opacity: 10%;
  }

  .bg_heart {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden
   }
  
  .heart {
      position: absolute;
      top: -50%;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -m-transform: rotate(-45deg);
      transform: rotate(-45deg)
   }
  
  .heart:before {
      position: absolute;
      top: -50%;
      left: 0;
      display: block;
      content: "";
      width: 100%;
      height: 100%;
      background: inherit;
      border-radius: 100%;
  }
  
  .heart:after {
      position: absolute;
      top: 0;
      right: -50%;
      display: block;
      content: "";
      width: 100%;
      height: 100%;
      background: inherit;
      border-radius: 100%;
  }
  
  @-webkit-keyframes love {
    0%{top:110%}
  }
  @-moz-keyframes love {
    0%{top:110%}
  }
  @-ms-keyframes love {
    0%{top:110%}
  }
  @keyframes love {
    0%{top:110%}
  }

  @keyframes heartbeat {
    0% {opacity: 50%;}
    25% {opacity: 75%;}
    50% {opacity: 25%;}
    75% {opacity: 75%;}
    100% {opacity: 50%;}
  }
